.cards{

  min-width: 200px;
  min-height:  200px !important;
}




i{ vertical-align: middle !important; }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.bold{
  font-weight: bold !important;
}
.anim-delay{
  animation-duration: 2s;
  animation-delay: 0.5s;
}
.alert{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-warning{
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-success{
  color: #3c763d;
 background-color: #dff0d8;
 border-color: #d6e9c6;
}
.wide{
  min-width: 95%;
}

.sidebar{
  position: fixed;
  width: 400px;
  top: 0;
  bottom: 0;
  resize: horizontal;
  overflow: auto;
}
.right{
  right: 0;
}
.main-content{
  margin-left: 300px;
}

.min_time{
  color: green;
  font-weight: bold;
}

.max_time{
  color: #f44336;
  font-weight: bold;
}

.avg_time{
  color: #2196f3;
  font-weight: bold;
}

.editor{
  background-color: white !important;
  font-size: 18px !important;
  width: 100%;
  height: 350px;
  border-width: medium;
  border-color: black;
  resize: vertical;
  text-align: left;
}
.full_width{
  padding: 0;
  margin: 0;
  width: 100%;
}

.full-focused{
  width: 100%;
  z-index: 100;
}

.full-focused > .full_width{
  height: 100%;
}

.full-focused .editor{
  height: 100%;
}

.editor > .CodeMirror{
  height: 100%;
}
